body {
  background-color: #282c34;
  color: white;
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  text-align: center;
  font-size: 45px;
}

a {
  color: white;
  text-decoration: none;
}

svg {
  height: 1em;
  width: 1em;
}

.ChoiceContainer {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  max-width: 100%;
  margin: 0 auto;
}

.ChoiceBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2f333c;
  margin: 10px;
  flex: 1;
  min-width: 150px;
  height: 150px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px #24272d;
}

.ChoiceBlock h1 {
  font-size: 65px;
  margin: 10px 0;
}

.ChoiceBlock p {
  font-size: 20px;
  margin: 10px 0;
}

.SelectMode {
  max-width: 90%;
  margin: 0 auto;
}

.Question {
  text-align: center;
  font-size: 55px;
  margin: 30px 0;
}

.Input {
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
}

.Input h2 {
  text-align: center;
  font-size: 55px;
  height: 70px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 8px;
  margin: 5px;
}

.Numpad {
  display: flex;
  width: 500px;
  height: 100px;
  max-width: 90%;
  margin: 0 auto;
  font-size: 35px;
  font-weight: bold;
}

.Numpad span {
  flex: 1;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #2f333c;
  box-shadow: 3px 3px 10px #24272d;
}

.Numpad span:hover {
  cursor: pointer;
}

@media (min-width:500px) {
  .ChoiceContainer {
    width: 900px;
  }
  
  .Container {
    width: 450px;
  }
  
  .ChoiceBlock {
    min-width: 200px;
    height: 200px;
  }
}