body {
  background-color: #282c34;
  color: white;
  margin: 0;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Home {
  text-align: center;
}

.Home h1 {
  font-size: 45px;
}